/* line 1, ../sass/theme.scss */
html, body {
  height: 200%;
  width: 223.5%;
}

/* line 5, ../sass/theme.scss */
html {
  font-size: 1em;
  font-size: 43.75%;
}
@media (min-width: 768px) {
  /* line 5, ../sass/theme.scss */
  html {
    font-size: 50%;
  }
}
@media (min-width: 992px) {
  /* line 5, ../sass/theme.scss */
  html {
    font-size: 56.25%;
  }
}
@media (min-width: 1200px) {
  /* line 5, ../sass/theme.scss */
  html {
    font-size: 62.5%;
  }
}

/* line 22, ../sass/theme.scss */
body {
  font-size: 1.8em;
  overflow: hidden;
}

/* line 26, ../sass/theme.scss */
h1 {
  font-size: 3.6rem;
}

/* line 29, ../sass/theme.scss */
h2 {
  font-size: 3.2rem;
}

/* line 32, ../sass/theme.scss */
h3 {
  font-size: 3rem;
}

/* line 35, ../sass/theme.scss */
h4 {
  font-size: 2.4rem;
}

/* line 38, ../sass/theme.scss */
h5 {
  font-size: 2rem;
}

/* line 41, ../sass/theme.scss */
h6 {
  font-size: 1.8rem;
}

/* line 46, ../sass/theme.scss */
.view-all {
  height: 50%;
  width: 45%;
}

/* line 51, ../sass/theme.scss */
section[class^='view-'] {
  border: 1px solid black;
  display: inline-block;
  float: left;
  height: 25%;
  width: 20%;
}

/* line 59, ../sass/theme.scss */
.full-screen {
  background: url("../img/drupal.png") top left no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 1;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* line 73, ../sass/theme.scss */
.modal-backdrop.in {
  z-index: 2;
}

/* line 77, ../sass/theme.scss */
.ipad-select {
  height: 500px;
  width: 100%;
}
/* line 80, ../sass/theme.scss */
.ipad-select .ipad-select--device {
  float: left;
  height: 25%;
  width: 20%;
}
/* line 84, ../sass/theme.scss */
.ipad-select .ipad-select--device .ipad-select--device-chose {
  background: green;
  border: 1px solid black;
  display: block;
  height: 100%;
  width: 100%;
}
/* line 90, ../sass/theme.scss */
.ipad-select .ipad-select--device .ipad-select--device-chose:hover {
  background: black;
}
