// Set these numbers to the numbers of devices you are supporting
$devices-horizontal: 5;
$devices-vertical: 4;

// Get total width of devices
$display-height: $devices-vertical * 100%;
$display-width: $devices-horizontal * 100%;

// Get the width for each device view 
$view-height: 100% / $devices-vertical;
$view-width: 100% / $devices-horizontal;

@import 'bootstrap';
@import 'base';
@import 'swiper';

.master-wrapper {
  height: $display-height;
  width: $display-width; 
  will-change: transform;
}

.view-all {
  .master-wrapper {
    height: 100%;
    width: 100%;
  }
}

section[class^='view-'] {
  border: 1px solid #000;
  display: inline-block;
  float: left;
  height: $view-height;
  overflow: hidden;
  perspective: 5000px;
  position: relative;
  width: $view-width;

  .view--content-container {
    height: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    transition: all .75s ease-in-out;
    width: 100%;
    will-change: transform;
  }

  .view--content__front {
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;

    img {
      height: auto;
      margin: auto;
      width: 100%;
    }
  }

  .view--content__back {
    backface-visibility: hidden;
    background-color: #aaa;
    color: #fff;
    display: block;
    height: 100%;
    position: absolute;
    text-align: center;
    transform: rotateY(180deg);
    width: 100%;

    .swiper-container {
      height: 100%;
      width: 768px;
    }

    .swiper-slide {
      align-items: center;
      background: #ed2024;
      display: flex;
      font-size: 18px;
      justify-content: center;
      text-align: center;

      .swiper-slide-image-container {
        display: block;
        height: 100%;
        overflow: scroll;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}

.flip {
  transform: rotateY(180deg)!important;
}

.full-screen {
  background: url('../img/BI.jpg') top left no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 1;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;

  img,
  video {
    width: 100%;
  }
}


// Modal tweaks
.modal-backdrop.in {
  z-index: -1;
}

.modal-content {
  opacity: .9;
}

.modal-footer {
  font-size: 1.5em;
}

.ipad-select {
  height: 500px;
  width: 100%;

  .ipad-select--device {
    float: left;
    height: $view-height;
    width: $view-width;

    .ipad-select--device-chosen {
      background: #fff;
      border: 1px solid #000;
      color: #000;
      display: block;
      font-size: 2em;
      height: 100%;
      padding-top: 33%;
      text-align: center;
      width: 100%;

      &:hover {
        background: #f3f3f3;
        text-decoration: none;
      }
    }
  }
}
